table{
border : 2px solid black ;
border-collapse: collapse;
width: 100%;
}

th{
  padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

td{

  padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

body{

background-color:lightyellow;

}






